<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/static/css/style.css">
    <input id="usernameInput" placeholder="Username" />
    <button onclick="login()">login</button>
    <script>
        function login(){
            const username = document.getElementById("usernameInput").value.trim();
            if(username.length > 0){
                Localstorage.setItem("username", username)
                window.location.href = "/";
            } else{
                alert("Please enter a username");
            }
        }
    </script>
</html>